.list-label {
}

.btn-plus-counter,
.btn-minus-counter,
.item-count-label,
.item-count-val
{
    margin-right: 10px;
}

.item-count-val {
    width: 30px;
    border: 1px solid gray;
    align-text: right;
}
