.update-data {
    margin-bottom: 10px;
}

.btn-plus-counter,
.btn-minus-counter,
.item-count-label,
.item-count-val
{
    margin-right: 10px;
}

.item-count-val {
    width: 30px;
    align-text: right;
}
